// Place all the styles related to the api/add_tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-new-tag {
  position: absolute;
  top: 18px;
  right: 20px;
  margin-left: 200px;
}
