// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//list_form.jsx
.list-form-container {
  position:relative;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.delete-list {
  width: 200px;
}

.list-form-header {
  position: relative;
  font-size: 24px;
  margin-bottom: 20px;
}

.close-x {
  color: $darkgray;
  position: absolute;
  right: 0;
}

.list-form-body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-form-footer {
  margin-top: 20px;
  float: right;
}

.list-cancel {
  background-color: $gray;
  border: 1px solid $darkgray;
  border-radius: 2px;
  font-weight: normal;
  padding: 7px 13px;
  width: 80px;
  font-size: 14px;
}

.list-cancel:hover {
  background-color: $darkgray;
}

.list-save {
  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 2px;
  margin-left: 15px;
  color: white;
  font-weight: normal;
  padding: 7px 13px;
  width: 80px;
  font-size: 14px;
}

.list-save:hover {
  background-color: $darkblue;
  border: 1px solid $darkblue;
}

.list-form-input {
  border: 1px solid $darkgray;
  width: 96%;
  padding: 5px;
}

.list-form-input:focus {
  border: 1px solid $lightblue;
}

// list.jsx
.lists-nav {
  padding: 10px;
}

.list {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
}

.list-edit {
  float: right;
}

.list-edit:hover {
  cursor: pointer;
  color: $lightblue;
}

.list-delete {
  float: right;
  margin-left: 20px;
}

.list-delete:hover {
  cursor: pointer;
  color: $lightblue;
}

.list-name {
  position: absolute;
  left: 296px;
  top: 20px;
}

.list-index-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.todos-heading, .completed-heading {
  position: relative;
  left: 250px;
  margin-top: 0;
}

.completed-heading {
  margin-top: 10px;
}

.trash {
  margin-top: 80px;
}
