// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// structure:
// .session-form-container
// + .big-crossoff-icon
// + .session-form-box
//   + .session-form
//   + .errors
//   + .alt-session-link

$error-pink: #ff3180;

.session-page {
  max-width: 400px;
  min-width: 300px;
  margin: 50px auto;
  background-color: $backgroundgray;
  height: 100vh;
}
.session-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  position: relative;
}

.big-crossoff-logo{
  margin: 0 auto;
  .big-crossoff-icon{
    width: 80px;
  }
}

.session-form-box {
  min-width: 300px;
  min-height: 300px;
  outline: 1px solid $gray;
  border-radius: 2px;
  padding: 40px 50px;
  background-color: white;
}

.session-form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  label {
    height: 40px;
  }

  .button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.row {
  margin-bottom: 28px;
  display: flex;
  border-bottom: 1px solid $gray;
}

.row:hover {
  border-bottom: 1px solid $blue;
}

.session-icon {
  font-size: 25px;
  color: $gray;
  margin-left: 5px;
  margin-right: 15px;
}

.session-input {
  width: 245px;
  font-size: 16px;
}

.alt-session-link {
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
}

.link-text {
  color: $blue;
}

.link-text:hover {
    text-decoration: underline;
}

.session-form-box .errors {
  color: $error-pink;
  font-size: 13px;
  line-height: 1.3;
}
