//sidebar.jsx

.sidebar {
  position: fixed;
  width: 270px;
  height: 100%;
  background-color: $themeblue;
  color: white;
  overflow: scroll;
}

.add-new-list-button {
  width: 230px;
  outline: 1px solid white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  p {
    margin-left: 10px;
  }
}

.add-new-list-button:hover {
  background-color: $darkblue;
}
