// Place all the styles related to the api/tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-task-bar-container {
  margin-left: 300px;
  margin-right: 20px;
}

.tasks {
  margin-left: 270px;
}

.task-detail {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 796px;
  background-color: $backgroundgray;
}

.task-detail-reminder-container {
  position: fixed;
  left: 796px;
}

.task-detail-null-reminder {
  margin: 20px;
  margin-top: 28px;
    li {
      padding: 10px;
    }
}

.antiscroll {
  position: static;
  height: 100%;
  overflow: hidden;
}

.task-detail-form {
  width: 100%;
  height: 100%;
  font-size: 14px;
  overflow: auto;
}

.task-form-header {
  position: sticky;
  z-index: 200;
  top: 0;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid $gray;
  background-color: $navgray;
  vertical-align: middle;
}

.task-detail-save {
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
  padding: 10px 20px;
  width: 100px;
}

.task-detail-save:hover {
  background-color: green;
  border: 1px solid green;
}

.task-detail-save-reminder {
  position: absolute;
  margin-top: 25px;
  margin-left: 160px;
  padding: 10px 20px;
  width: 160px;
  color: green;
}

.task-form-body {
  position: static;
  height: auto;
  padding: 20px;
  span {
    display: block;
  }
}

.task-form-input {
  margin-right: 20px;
  border: 1px solid $darkgray;
  margin: 10px 0;
  width: 150px;
  padding-left: 15px;
  padding-right: 15px;
}

.task-detail-title-input {
  padding-top: 0;
}

.task-item {
  display: block;
  padding-right: 20px;
  padding-left: 30px;
}

.task-item-inner-wrapper {
  border-bottom: 1px solid $gray;
  padding-bottom: 15px;
  padding-top: 15px;
  a {
    vertical-align: middle;
  }
}

.task-item:hover {
  background-color: $gray;
  outline: 1px solid white;
  .task-item-inner-wrapper {
    padding-bottom: 16px;
    border: 0;
  }
}

.active-task {
  background-color: $darkergray;
  outline: 1px solid white;
  .task-item-inner-wrapper {
    padding-bottom: 16px;
    border: 0;
  }
}

.task-title {
  display: inline-block;
  width: 420px;
  overflow: hidden;
  margin-left: 10px;
}

.task-title-with-due {
  width: 318px;
}

.task .list-delete {
  margin-left: 0;
}

.due {
  margin: 0 10px;
  display: inline;
  color: red;
  font-size: 13px;
  font-family: 'Nunito', sans-serif;
}

@media only screen and (min-width: 1080px) {
  .input-width {
    width: 18%;
  }
}

@media only screen and (min-width: 1150px) {
  .input-width {
    width: 25%;
  }
}

@media only screen and (min-width: 1290px) {
  .input-width {
    width: 33%;
  }
}

@media only screen and (min-width: 1430px) {
  .input-width {
    width: 40%;
  }
}
