// Place all the styles related to the api/tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-task-bar-container {
  margin-left: 300px;
  margin-right: 50px;
}

.new-task-bar {
  margin-top: 50px;
}

.tasks {
  margin-left: 300px;
}

.task {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $darkgray;
  margin-right: 80px;
}
