// Place all the styles related to the api/tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-task-bar-container {
  margin-left: 300px;
  margin-right: 20px;
}

.tasks {
  margin-left: 300px;
}

.task {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $darkgray;
  margin-right: 20px;
}

.task-detail {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $backgroundgray;
}

.task-detail-null-reminder {
  margin: 20px;
  margin-top: 28px;
    li {
      padding: 10px;
    }
}

.task-no-detail-warning {
  margin: 50px 20px;
  color: $textgray;
}

.antiscroll {
  position: static;
  height: 100%;
  overflow: hidden;
}

.task-detail-form {
  width: 100%;
  height: 100%;
  font-size: 14px;
  overflow: auto;
}

.task-form-header {
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid $gray;
  background-color: $navgray;
  vertical-align: middle;
}

.task-detail-save {
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
  padding: 10px 20px;
  width: 100px;
}

.task-detail-save:hover {
  background-color: green;
  border: 1px solid green;
}

.task-detail-save-reminder {
  position: absolute;
  margin-top: 25px;
  margin-left: 160px;
  padding: 10px 20px;
  width: 160px;
  color: green;
}

.task-form-body {
  position: static;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  span {
    display: block;
  }
}

.task-form-input {
  margin-right: 20px;
  width: 100%;
  border: 1px solid $darkgray;
  margin: 10px 0;
}

.task-detail-title-input {
  padding-top: 0;
}

.task-item {
  display: block;
}

.due {
  margin: 0 10px;
  display: inline;
}
