// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//user_profile

.signout {
  padding: 3px 20px;
  background-color: $lightblue;
  border: 2px solid $lightblue;
  color: white;
}

.signout:hover {
  background-color: white;
  border: 2px solid $lightblue;
  color: $lightblue;
}
