// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// user-profile.jsx

.user-profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px 20px;
}

.user {
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.signout {
  padding: 0px 10px;
  background-color: $lightblue;
  color: white;
}

.signout:hover {
  background-color: white;
  color: $lightblue;
}
