// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// user-profile.jsx

.user-profile {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 8px 20px;
}

.user {
  margin: 10px;
  padding-top: 10px;
}

.avatar-container {
  background-image: url("white_circle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  padding: 10px;
  position: relative;
}

.avatar {
  width: 36px;
  height: 36px;
}

.signout {
  padding: 2px 10px;
  margin: 10px 0;
  background-color: $lightblue;
  color: white;
  border-radius: 3px;
}

.signout:hover {
  background-color: white;
  color: $lightblue;
}
