/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Open+Sans|Nunito|Roboto|Montserrat");
/* PHASE 0: Reset */
/* line 3, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/reset.scss */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

/* line 21, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/reset.scss */
ul {
  list-style: none;
}

/* line 25, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/reset.scss */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 31, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/reset.scss */
input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 45, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/reset.scss */
button,
input[type="submit"] {
  cursor: pointer;
}

/* line 1, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/fonts.scss */
#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 7, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/fonts.scss */
.session-page, .user-profile, .modal-child {
  font-family: 'Open Sans', sans-serif;
}

/* line 11, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/fonts.scss */
.sidebar {
  font-weight: lighter;
  font-size: 14px;
}

/* line 16, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/fonts.scss */
h1 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}

/* line 22, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/fonts.scss */
h2 {
  font-size: 45px;
  font-family: 'Architects Daughter';
  display: inline-block;
}

/* line 28, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/fonts.scss */
h3 {
  font-weight: bold;
}

/* line 32, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/fonts.scss */
h4 {
  color: rgba(0, 0, 0, 0.66);
  font-size: 20px;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  margin-left: 50px;
}

/* line 41, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/fonts.scss */
.strong {
  font-weight: bold;
  display: inline-flex;
}

/* line 1, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/modal.scss */
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

/* line 10, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/modal.scss */
.modal-child {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  display: inline-block;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 6px 26px rgba(0, 0, 0, 0.3);
  padding: 20px;
  background-color: white;
}

/* line 1, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/app.scss */
#app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

/* line 9, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/app.scss */
#before-login {
  position: relative;
  width: 100%;
  min-width: 700px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* line 7, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.nav-bar {
  position: fixed;
  top: 0;
  padding: 10px 45px;
  width: 100%;
  min-width: 750px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}
/* line 21, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.nav-bar .logo {
  width: 240px;
}
/* line 23, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.nav-bar .logo img {
  width: 100%;
}
/* line 28, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.nav-bar .nav-links {
  margin-top: 15px;
}
/* line 30, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.nav-bar .nav-links ul {
  display: flex;
}

/* line 36, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash {
  padding: 20px 45px;
  padding-top: 160px;
  height: 100%;
  overflow: scroll;
}
/* line 42, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash .first-page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* line 50, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash img {
  width: 250px;
  display: inline-block;
  margin-right: 16px;
  vertical-align: bottom;
  margin-bottom: 10px;
}
/* line 58, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash #manage {
  margin-left: 20px;
}
/* line 62, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash p {
  font-size: 16px;
  margin-left: 20px;
}
/* line 67, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash #first-line {
  margin-top: 20px;
}
/* line 70, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash #second-line {
  margin-top: 10px;
  display: flex;
}
/* line 73, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash #second-line p {
  padding-top: 10px;
}
/* line 76, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash #second-line img {
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
/* line 83, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash .mainbutton {
  margin-left: 20px;
  margin-bottom: 10px;
}
/* line 88, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash .splash-left {
  margin-top: 37px;
}
/* line 92, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash .splash-right {
  margin-right: 80px;
}
/* line 96, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash #laptop {
  padding: 10px;
  background-image: url("http://res.cloudinary.com/devleg/image/upload/v1523168037/cyurqlhjmjcxykroj9p0.png");
  width: 450px;
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 104, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash #laptop #checklist {
  width: 130px;
  height: auto;
  margin-top: 140px;
  margin-left: 160px;
}

/* line 113, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.footer {
  position: sticky;
  bottom: 0;
  padding: 15px 45px 15px 45px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
/* line 126, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.footer a {
  padding: 10px;
  font-size: 32px;
}
/* line 130, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.footer p {
  position: sticky;
  bottom: 0;
  margin-top: 13px;
}

/* line 139, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.button {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
}

/* line 146, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.button:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

/* line 153, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.signin {
  border: 2px solid black;
}

/* line 157, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.signin:hover, .demo:hover {
  border: 2px solid #2C98F0;
  background-color: white;
  color: #2C98F0;
}

/* line 163, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.signup {
  background-color: #5576D8;
  color: white;
  font-weight: bold;
  border: 2px solid #5576D8;
}

/* line 170, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.signup:hover {
  background-color: #4065d3;
  border: 2px solid #4065d3;
}

/* line 175, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.nav-bar .signup {
  margin-left: 15px;
}

/* line 179, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.splash .signup {
  margin-top: 20px;
}

/* line 183, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.demo {
  margin-left: 15px;
  border: 2px solid black;
}

/* line 188, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/splash.scss */
.footer a:hover {
  color: #2C98F0;
}

/* line 13, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.session-page {
  max-width: 400px;
  min-width: 300px;
  margin: 50px auto;
  background-color: #FAFAFA;
  height: 100vh;
}

/* line 20, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.session-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  position: relative;
}

/* line 28, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.big-crossoff-logo {
  margin: 0 auto;
}
/* line 30, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.big-crossoff-logo .big-crossoff-icon {
  width: 80px;
}

/* line 35, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.session-form-box {
  min-width: 300px;
  min-height: 300px;
  outline: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  padding: 40px 50px;
  background-color: white;
}

/* line 44, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.session-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* line 49, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.session-form label {
  height: 40px;
}
/* line 53, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.session-form .button {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 60, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.row {
  margin-bottom: 28px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

/* line 66, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.row:focus-within {
  border-bottom: 1px solid #5576D8;
}

/* line 70, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.session-icon {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.06);
  margin-left: 5px;
  margin-right: 15px;
}

/* line 77, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.session-input {
  width: 245px;
  font-size: 16px;
}

/* line 82, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.alt-session-link {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* line 89, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.link-text {
  color: #5576D8;
}

/* line 93, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.center-text {
  text-align: center;
}

/* line 97, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.link-text:hover {
  text-decoration: underline;
}

/* line 101, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sessions.scss */
.errors {
  color: #ff3180;
  font-size: 13px;
  line-height: 1.3;
  margin-top: 5px;
}

/* line 3, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sidebar.scss */
.sidebar {
  position: fixed;
  width: 270px;
  height: 100%;
  background-color: #516BC1;
  color: white;
  overflow: scroll;
  z-index: 200;
}

/* line 13, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sidebar.scss */
.add-new-list-button {
  width: 230px;
  outline: 1px solid white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
}
/* line 19, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sidebar.scss */
.add-new-list-button p {
  margin-left: 10px;
}

/* line 24, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sidebar.scss */
.add-new-list-button:hover {
  background-color: #4065d3;
}

/* line 28, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/sidebar.scss */
.trash-nav {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* line 7, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/user_profile.scss */
.user-profile {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 8px 20px;
}

/* line 14, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/user_profile.scss */
.user {
  margin: 10px;
  padding-top: 10px;
}

/* line 19, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/user_profile.scss */
.avatar-container {
  background-image: url("http://res.cloudinary.com/devleg/image/upload/v1523170562/white_circle.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  padding: 10px;
  position: relative;
}

/* line 29, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/user_profile.scss */
.avatar {
  width: 36px;
  height: 36px;
}

/* line 34, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/user_profile.scss */
.signout {
  padding: 2px 10px;
  margin: 10px 0;
  background-color: #2C98F0;
  color: white;
  border-radius: 3px;
}

/* line 42, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/user_profile.scss */
.signout:hover {
  background-color: white;
  color: #2C98F0;
}

/* line 6, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-form-container {
  position: relative;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  overflow: scroll;
}

/* line 16, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-title {
  display: inline-block;
  width: 160px;
  overflow: hidden;
}

/* line 22, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.delete-list {
  width: 200px;
}

/* line 26, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-form-header {
  position: relative;
  font-size: 24px;
  margin-bottom: 20px;
}

/* line 32, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.close-x {
  color: rgba(0, 0, 0, 0.36);
  position: absolute;
  right: 0;
}

/* line 38, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-form-body {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 43, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-form-footer {
  margin-top: 20px;
  float: right;
}

/* line 48, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-cancel {
  background-color: rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.36);
  border-radius: 2px;
  font-weight: normal;
  padding: 7px 13px;
  width: 80px;
  font-size: 14px;
}

/* line 58, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-cancel:hover {
  background-color: rgba(0, 0, 0, 0.36);
}

/* line 62, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-save {
  background-color: #5576D8;
  border: 1px solid #5576D8;
  border-radius: 2px;
  margin-left: 15px;
  color: white;
  font-weight: normal;
  padding: 7px 13px;
  width: 80px;
  font-size: 14px;
}

/* line 74, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-save:hover {
  background-color: #4065d3;
  border: 1px solid #4065d3;
}

/* line 79, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-form-input {
  border: 1px solid rgba(0, 0, 0, 0.36);
  width: 96%;
  padding: 5px;
}

/* line 85, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-form-input:focus {
  border: 1px solid #2C98F0;
}

/* line 90, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.lists-nav {
  padding: 10px 0;
}

/* line 94, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
}

/* line 100, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list:hover {
  background-color: #4D66B7;
}

/* line 104, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.selected-list {
  background-color: #465CA6;
}

/* line 108, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-edit {
  float: right;
}

/* line 112, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-edit:hover {
  cursor: pointer;
  color: #2C98F0;
}

/* line 117, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-delete {
  float: right;
  margin-left: 20px;
}

/* line 122, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-delete:hover {
  cursor: pointer;
  color: #2C98F0;
}

/* line 127, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-name {
  margin-left: 296px;
  margin-top: 20px;
  width: 500px;
  overflow: scroll;
}

/* line 134, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.empty-warning {
  position: absolute;
  left: 310px;
  top: 90px;
}

/* line 140, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.list-index-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  min-width: 780px;
  padding-bottom: 50px;
}

/* line 149, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.lists-scroll {
  overflow: auto;
}

/* line 153, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.todos-heading, .completed-heading {
  position: relative;
  left: 250px;
  margin-top: 0;
}

/* line 159, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.completed-heading {
  margin-top: 40px;
}

/* line 164, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.trash-warning {
  position: absolute;
  left: 300px;
  top: 80px;
  min-width: 300px;
  max-width: 500px;
}
/* line 171, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.trash-warning p {
  display: inline;
}

/* line 176, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.empty-trash {
  top: 100px;
  left: 300px;
  margin-top: 10px;
  padding: 5px 10px;
}

/* line 183, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.empty-trash:hover {
  background-color: red;
  border: 1px solid red;
}

/* line 188, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.trash-completed {
  margin-top: 20px;
}

/* line 192, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/lists.scss */
.trash-header {
  margin-bottom: 160px;
}

/* line 1, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/main.scss */
.main {
  margin-left: 260px;
}
/* line 3, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/main.scss */
.main h1 {
  margin: 30px 30px;
  color: #4065d3;
}

/* line 5, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.new-task-bar-container {
  margin-left: 300px;
  margin-right: 20px;
}

/* line 10, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.tasks {
  margin-left: 270px;
}

/* line 14, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-detail {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 796px;
  background-color: #FAFAFA;
}

/* line 22, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-detail-reminder-container {
  position: fixed;
  left: 796px;
}

/* line 27, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-detail-null-reminder {
  margin: 20px;
  margin-top: 28px;
}
/* line 30, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-detail-null-reminder li {
  padding: 10px;
}

/* line 35, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.antiscroll {
  position: static;
  height: 100%;
  overflow: hidden;
}

/* line 41, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-detail-form {
  width: 100%;
  height: 100%;
  font-size: 14px;
  overflow: auto;
}

/* line 48, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-form-header {
  position: sticky;
  z-index: 200;
  top: 0;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  background-color: #FDFDFD;
  vertical-align: middle;
}

/* line 59, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-detail-save {
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
  padding: 10px 20px;
  width: 100px;
}

/* line 67, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-detail-save:hover {
  background-color: green;
  border: 1px solid green;
}

/* line 72, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-detail-save-reminder {
  position: absolute;
  margin-top: 25px;
  margin-left: 160px;
  padding: 10px 20px;
  width: 160px;
  color: green;
}

/* line 81, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-form-body {
  position: static;
  height: auto;
  padding: 20px;
}
/* line 85, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-form-body span {
  display: block;
}

/* line 90, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-form-input {
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.36);
  margin: 10px 0;
  width: 150px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 99, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-detail-title-input {
  padding-top: 0;
}

/* line 103, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-item {
  display: block;
  padding-right: 20px;
  padding-left: 30px;
  min-width: 478px;
}

/* line 110, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-item-inner-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding-bottom: 15px;
  padding-top: 15px;
}
/* line 114, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-item-inner-wrapper a {
  vertical-align: middle;
}

/* line 119, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-item:hover {
  background-color: rgba(0, 0, 0, 0.06);
  outline: 1px solid white;
}
/* line 122, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-item:hover .task-item-inner-wrapper {
  padding-bottom: 16px;
  border: 0;
}

/* line 128, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.active-task {
  background-color: #E7E5E5;
  outline: 1px solid white;
}
/* line 131, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.active-task .task-item-inner-wrapper {
  padding-bottom: 16px;
  border: 0;
}

/* line 137, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-title {
  display: inline-block;
  width: 420px;
  overflow: hidden;
  margin-left: 10px;
}

/* line 144, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task-title-with-due {
  width: 318px;
}

/* line 148, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.task .list-delete {
  margin-left: 0;
}

/* line 152, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.due {
  margin: 0 10px;
  display: inline;
  font-size: 13px;
  font-family: 'Nunito', sans-serif;
}

/* line 159, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
.completed-style {
  text-decoration: line-through;
  color: gray;
}

@media only screen and (min-width: 1080px) {
  /* line 165, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
  .input-width {
    width: 18%;
  }
}
@media only screen and (min-width: 1150px) {
  /* line 171, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
  .input-width {
    width: 25%;
  }
}
@media only screen and (min-width: 1290px) {
  /* line 177, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
  .input-width {
    width: 33%;
  }
}
@media only screen and (min-width: 1430px) {
  /* line 183, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/tasks.scss */
  .input-width {
    width: 40%;
  }
}
/* line 4, /Users/sheny/Dropbox/AA/cross_off/app/assets/stylesheets/api/add_tags.scss */
.add-new-tag {
  position: absolute;
  top: 18px;
  right: 20px;
  margin-left: 200px;
}
