#app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

#before-login {
  position: relative;
  width: 100%;
  min-width: 700px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
