/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#root {
  min-height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.nav-bar {
  position: absolute;
  top: 30px;
  width: 90%;
  display: flex;
  justify-content: space-between;

  .logo {
    padding: 20px;
    background-image: image-url("logo_transparent_background.png");
    width: 200px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  ul{
    display: flex;
    justify-content: space-between;
    li {
      padding: 20px;
      padding-top: 10px;
    }
  }
}

.splash {
  position: absolute;
  top: 110px;
  width: 90%;
  left: 8%;

  h2 {
    font-size: 45px;
  }
}

.footer {
  position:absolute;
  bottom: 25px;
  width: 90%;

  display: flex;
  justify-content: space-between;
  a {
    padding: 10px;
    font-size: 32px;
  }
}
