$backgroundgray: #FAFAFA;
$blue: #5576D8;
$darkblue: darken( $blue, 5% );
$hoverblue: #4D66B7;
$selectedList: #465CA6;
$selectedTask: #F3F3F3;
$gray: rgba(0,0,0,.06);
$darkgray: rgba(0,0,0,.36);
$textgray: rgba(0,0,0,.66);
$darkbackgroundgray: darken( $backgroundgray, 2% );
$navgray: #FDFDFD;
$themeblue: #516BC1;
$lightblue: #2C98F0;
$error-pink: #ff3180;
