//splash
$backgroundgray: #FAFAFA;
$blue: #5576D8;
$darkblue: darken( $blue, 5% );
$gray: rgba(0,0,0,.06);
$darkbackgroundgray: darken( $backgroundgray, 2% );
$themeblue: #617fde;
$lightblue: #2C98F0;

//sessions
$error-pink: #ff3180;
