#app {
  // font-family: 'Nunito', sans-serif;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.session-page, .user-profile {
  font-family: 'Open Sans', sans-serif;
}

.sidebar {
  font-weight: lighter;
  font-size: 14px;
}

h1 {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}

h2 {
  font-size: 45px;
  font-family: 'Architects Daughter';
  display:inline-block;
}
