#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.session-page, .user-profile, .modal-child {
  font-family: 'Open Sans', sans-serif;
}

.sidebar {
  font-weight: lighter;
  font-size: 14px;
}

h1 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}

h2 {
  font-size: 45px;
  font-family: 'Architects Daughter';
  display:inline-block;
}

h3 {
  font-weight: bold;
}

h4 {
  color: $textgray;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  margin-left: 50px;
}

.strong {
  font-weight: bold;
  display: inline;
}
