// splash page structure:
// root
//  + nav-bar
//  + splash
//  + footer

.nav-bar {
  position: sticky;
  top: 0;
  padding: 20px 45px;
  width: 100%;
  min-width: 750px;
  border-bottom: 1px solid $gray;
  background-color: $darkbackgroundgray;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;

  .logo {
    width: 240px;
    img {
      width: 100%;
    }
  }

  .nav-links {
    margin-top: 15px;
    ul {
      display: flex;
    }
  }
}

.splash {
  padding: 20px 45px;
  height: 100%;
  overflow: scroll;

  .first-page{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
    // match the viewport height of the browser window
  }

  img {
    width: 250px;
    display:inline-block;
    margin-right: 16px;
    vertical-align: bottom;
    margin-bottom: 10px;
  }

  #manage {
    margin-left: 20px;
  }

  p {
    font-size: 16px;
    margin-left: 20px;
  }

  #first-line {
    margin-top: 20px;
  }
  #second-line {
    margin-top: 10px;
    display: flex;
    p {
      padding-top: 10px;
    }
    img {
      margin-left: 20px;
      width: 40px;
      height: 40px;
    }
  }

  .mainbutton {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .splash-left {
    margin-top: 37px;
  }

  .splash-right {
    margin-right: 80px;
  }

  #laptop {
    padding: 10px;
    background-image: url("http://res.cloudinary.com/devleg/image/upload/v1523168037/cyurqlhjmjcxykroj9p0.png");
    width: 450px;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;

    #checklist {
      width: 130px;
      height: auto;
      margin-top: 140px;
      margin-left: 160px;
    }
  }
}

.footer {
  position: sticky;
  bottom: 0;
  padding: 15px 45px 15px 45px;
  width: 100%;
  background-color: darken( $backgroundgray, 2% );

  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  border-top: 1px solid $gray;

  a {
    padding: 10px;
    font-size: 32px;
  }
  p{
    position: sticky;
    bottom: 0;
    margin-top: 13px;
  }
}

// buttons

.button {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
}

.signin {
  border: 2px solid black;
}

.signin:hover, .demo:hover {
  border: 2px solid $lightblue;
  background-color: white;
  color: $lightblue;
}

.signup {
  background-color: $blue;
  color: white;
  font-weight: bold;
  border: 2px solid $blue;
}

.signup:hover {
  background-color: $darkblue;
  border: 2px solid $darkblue;
}

.nav-bar .signup {
  margin-left: 15px;
}

.splash .signup {
  margin-top: 20px;
}

.demo {
  margin-left: 15px;
  border: 2px solid black;
}

.footer a:hover {
  color: $lightblue;
}
