$backgroundgray: #FAFAFA;
$blue: #5576D8;
$gray: #9EA7B1;

// splash page structure:
// root
//  + nav-bar
//  + splash
//  + footer

#root {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.nav-bar {
  position: fixed;
  top: 0;
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 45px;
  width: 100%;
  border-bottom: 1px solid $gray;
  background-color: darken( $backgroundgray, 2% );

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;

  .logo {
    padding: 10px;
    background-image: url("logo_transparent_background.png");
    width: 200px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  ul{
    display: flex;
    justify-content: space-between;
  }
}

.splash {
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 50px;
  width: 100%;

  display: flex;
  justify-content: space-between;

  img {
    width: 250px;
    display:inline-block;
    margin-right: 16px;
    vertical-align: bottom;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 45px;
    font-family: 'Architects Daughter';
    display:inline-block;
  }

  p {
    font-size: 16px;
  }

  #first-line {
    margin-top: 20px;
  }
  #second-line {
    margin-top: 10px;
    display: flex;
    p {
      padding-top: 10px;
    }
    img {
      margin-left: 20px;
      width: 40px;
      height: 40px;
    }
  }

  .splash-left {
    margin-top: 100px;
  }

  .splash-right {
    margin-right: 80px;
  }

  #laptop {
    padding: 10px;
    background-image: url("laptop.png");
    width: 450px;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 15px 45px 15px 45px;
  width: 100%;
  background-color: darken( $backgroundgray, 2% );

  display: flex;
  justify-content: space-between;

  border-top: 1px solid $gray;

  a {
    padding: 10px;
    font-size: 32px;
  }
  p{
    position: fixed;
    bottom: 20px;
    right: 5%;
  }
}

// buttons

.button {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
}

.signin {
  border: 2px solid black;
}

.signup {
  background-color: $blue;
  color: white;
  font-weight: bold;
  border: 2px solid $blue;
}

.nav-bar .signup {
  margin-left: 45px;
}

.splash .signup {
  margin-top: 20px;
}

.demo {
  margin-left: 45px;
  border: 2px solid black;
}
