<!DOCTYPE html>
<html>
  <head>
    <title>Cross Off</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" type="image/gif/png" href="assets/icon_transparent_background.png">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
